
<div class="sidebar-heading d-none d-md-block">
    MISC ITEMS
</div>

<div class="side-bar d-none d-md-block">
    
<h5 class="sidebar-heading-subheading">ANGULAR CONCEPTS</h5>
<div class="sidebar-projects-list list-group">
    <a class="list-group-item list-group-item-action" routerLink="/dashboard">
        <fa-icon class="concept-icon " [icon]="['fas', 'gauge-high']"> </fa-icon> Dashboard
    </a>
</div>

<h5 class="sidebar-heading-subheading">ACCOUNT</h5>
<div class="sidebar-projects-list list-group">
    <a class="list-group-item list-group-item-action" routerLink="/dashboard">
        <fa-icon class="concept-icon " [icon]="['fas', 'circle-user']"> </fa-icon> Create Account
    </a>

    <a class="list-group-item list-group-item-action" routerLink="/dashboard">
        <fa-icon class="concept-icon " [icon]="['fas', 'lock']"> </fa-icon> Login
    </a>
</div>

<h5 class="sidebar-heading-subheading">CONTACT DETAILS</h5>
<div class="sidebar-projects-list list-group">
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon " [icon]="['fas', 'phone']"> </fa-icon> (+27)79 691-0468
    </span>
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon" [icon]="['fas', 'envelope']"> </fa-icon> yingishirinda@gmail.com
    </span>
</div>


</div>







