<div class="side-bar d-none d-md-block">
<div class="sidebar-projects-list list-group">
    <a class="list-group-item list-group-item-action list-group-heading " >
        DASHBOARD
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/about">
        <fa-icon class="concept-icon " [icon]="['fas', 'bookmark']"> </fa-icon>
        About portfolio
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/cpanel">
        <fa-icon class="concept-icon " [icon]="['fas', 'grip']"> </fa-icon>
        Panel
    </a>
   
</div>

<div class="sidebar-projects-list list-group">
    <a class="list-group-item list-group-item-action list-group-heading " >
        FORMS
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/app/reactive-form">
        <fa-icon class="concept-icon " [icon]="['fas', 'address-card']"> </fa-icon> Reactive form
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/app/template-driven-form">
        <fa-icon class="concept-icon " [icon]="['fas', 'address-card']"> </fa-icon> Template-Driven form
    </a>
</div>

<div class="sidebar-projects-list list-group">
    <a class="list-group-item list-group-item-action list-group-heading " >
       OTHER CONCEPTS
    </a>

    <a class="list-group-item list-group-item-action " routerLink="/app/online-store">
        <fa-icon class="concept-icon " [icon]="['fas', 'plug']"> </fa-icon> RESTful API
    </a>

    <a class="list-group-item list-group-item-action" routerLink="/account">
        <fa-icon class="concept-icon " [icon]="['fas', 'lock']"> </fa-icon> Authentication
    </a>
</div>


</div>







