
<div class="sidebar-heading d-none d-md-block">
    CONTACT DETAILS
</div>
<div class="side-bar d-none d-md-block">

<h5 class="sidebar-heading-subheading">PRIMARY</h5>
<div class="sidebar-projects-list list-group">
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon " [icon]="['fas', 'phone']"> </fa-icon> (+27)79 691-0468
    </span>
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon" [icon]="['fas', 'envelope']"> </fa-icon> yingishirinda@gmail.com
    </span>
</div>

<h5 class="sidebar-heading-subheading">ALTERNATIVE</h5>
<div class="sidebar-projects-list list-group">
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon " [icon]="['fas', 'phone']"> </fa-icon> (+258)66 524-6960
    </span>
    <span class="list-group-item list-group-item-action">
        <fa-icon class="concept-icon" [icon]="['fas', 'envelope']"> </fa-icon> yingishirinda@yahoo.com
    </span>
</div>

<h5 class="sidebar-heading-subheading">ANGULAR TOPICS</h5>
<div class="sidebar-projects-list list-group">
    <a class="list-group-item list-group-item-action btn" routerLink="/dashboard">
        <fa-icon class="concept-icon " [icon]="['fas', 'sliders']"> </fa-icon> Dashboard
    </a>

</div>

</div>







