.side-bar , .sidebar-heading{
    text-align: left;
}

.sidebar-heading {
    
    background-color: orangered;
    color: white;
    font-weight: bold;
}

.sidebar-projects-list {
    margin-bottom: 10px;
}

a {
    color: brown;
}

a:hover {
    color: red;
}

.list-group-item {
    word-wrap: break-word;
    color: brown;
}

.list-group-heading{
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}
.list-group-heading:hover {
    background-color: orangered;
        color: white;
}





