    <nav class="navbar navbar-expand-lg navbar-dark ">
        
        <div class="container-fluid">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                
                <div class="navbar-nav ms-auto">

                    <div class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true} routerLink="/">
                            <fa-icon class="concept-icon " [icon]="['fas', 'house']"> </fa-icon>
                            Home 
                        </a>
                    </div>

                    <div class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/about">
                            <fa-icon class="concept-icon " [icon]="['fas', 'graduation-cap']"> </fa-icon>
                             About
                        </a>
                    </div>

                    <div class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard">
                            <fa-icon class="concept-icon " [icon]="['fas', 'gauge-high']"> </fa-icon>
                            Dashboard
                        </a>
                    </div>

                    <!-- only if the user is logged in  -->
                    <div *ngIf="firstname?.length !=0; else notSignedIn"  class="nav-item ">                       
                    <button  type="button" class="nav-link" [ngbPopover]="popContent"
                        [popoverTitle]="popTitle" placement="bottom">
                        <fa-icon class="concept-icon " [icon]="['fas', 'circle-user']"> </fa-icon>
                        Online({{firstname}})
                    </button>

                    <ng-template #popTitle>
                        
                        <div class="popover-menu-header"> 
                            <fa-icon class="concept-icon " [icon]="['fas', 'gear']"> </fa-icon>
                            <b> Manage</b> 
                        </div>
                    </ng-template>

                    <ng-template #popContent>
                       
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-action">
                                    <fa-icon class="concept-icon " [icon]="['fas', 'pen-to-square']"> </fa-icon>
                                    Edit Profile
                                </li>
                                <li class="list-group-item list-group-item-action">
                                    <fa-icon class="concept-icon " [icon]="['fas', 'cart-shopping']"> </fa-icon>
                                    Carts({{getUserCartsAmount}})
                                </li>
                                <li (click)="logout()" class="list-group-item list-group-item-action">
                                    <fa-icon class="concept-icon " [icon]="['fas', 'right-from-bracket']"> </fa-icon>
                                    Logout
                                </li>
                            </ul>

                    </ng-template>

                    
                    </div>

                    <!-- only if the user is not logged in -->
                    <ng-template #notSignedIn>
                        <div class="nav-item ">
                        <button type="button" class="nav-link" [ngbPopover]="popContent" [popoverTitle]="popTitle" placement="bottom">
                            <fa-icon class="concept-icon " [icon]="['fas', 'circle-user']"> </fa-icon>
                            (Guest)
                        </button>
                        
                        <ng-template #popTitle>
                        
                            <div class="popover-menu-header">
                                <fa-icon class="concept-icon " [icon]="['fas', 'gear']"> </fa-icon>
                                <b> Manage</b>
                            </div>
                        </ng-template>
                        
                        <ng-template #popContent>
                        
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-action">
                                    <fa-icon class="concept-icon " [icon]="['fas', 'user']"> </fa-icon>
                                    New profile
                                </li>

                                <li (click)="loginOptions()"  class="list-group-item list-group-item-action">
                                    <fa-icon class="concept-icon " [icon]="['fas', 'lock']"> </fa-icon>
                                    Other options
                                </li>

                                <li (click)="login()" class="list-group-item list-group-item-action">
                                    <fa-icon class="concept-icon " [icon]="['fas', 'right-to-bracket']"> </fa-icon>
                                    Login
                                </li>
                            </ul>
                        
                        </ng-template>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </nav>
