 .navbar-dark a.active {
     font-weight: bold;
     border-bottom: 5px solid red;
     color: #f0f0f0;
 }

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-item:hover {
    background-color:red;
    color: white; 
}

.nav-item:hover .nav-link{
    color: white;
}

nav {
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.container-fluid {
    padding-left: 0px;
    margin-left: 10px;
}


