<div @fadeInPageTitle class="">
    <div class="welcome-messsage bg-light">
        <h3>[ API - ONLINE STORE ]</h3>
        <p class="page-title-description fade-in">
            LIST, SEARCH, AND VIEW THE DETAILS OF EACH PRODUCT.
        </p>

        <div class="social-buttons-aligner slide-up">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>
</div>

<div class="row page-content">

    <div class="col-md-9" [ngSwitch]="viewMode">

        <!-- page content -->
        <div class="page-content-container">

            <!-- Switch tabs-->
            <div class="formSwitch">
                <ul class="nav nav-tabs ">
                    <li [class.active]="viewMode == 'defaultTab'">
                        <a (click)="viewMode = 'defaultTab'" class="nav-link active btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="" [icon]="['fas', 'cart-shopping']"></fa-icon>
                            Store
                        </a>
                    </li>
                    
                    <li [class.active]="viewMode == 'desciptionTab'">
                        <a (click)="viewMode = 'desciptionTab'" class="nav-link  btn tab-text" data-bs-toggle="tab"><fa-icon class=""
                                [icon]="['fas', 'bookmark']"></fa-icon> Details</a>
                    </li>
                    
                    <li [class.active]="viewMode == 'dashboardTab'">
                    
                        <a (click)="viewMode = 'dashboardTab'" routerLink="/dashboard" class="nav-link  btn tab-text"><fa-icon class=""
                                [icon]="['fas', 'sliders']"></fa-icon> Menu</a>
                    </li>
                    
                </ul>
            </div>

            <div *ngSwitchCase="'defaultTab'">
               
                <!-- filter-Sort-Search container section -->
                <form>
                    <div class="row filter-search-sort-section">
                        
                        <!-- filter-options using drop-down list -->
                        <div class="col-md-3 filter-container">                      
                            <select #filterOption (change)="filterBy(filterOption.value)" class="form-select form-select-sm dropdown-list" required> 
                                <option hidden 
                                    disabled 
                                    selected> 
                                    Filter By
                                </option>
                            
                                <option 
                                *ngFor="let productCategory of getProductCategories" 
                                [value]="productCategory.value" >
                                {{productCategory.name}}
                                </option>
                            </select>
                            <fa-icon class="form-control-icon" [icon]="['fas', 'sliders']"></fa-icon>
                        </div>
                        
                        <!-- Sort-options -->
                        <div class="col-md-3 sort-container ">                      
                            <select #sortOption (change)="sortBy(sortOption.value)"  class="form-select form-select-sm dropdown-list" required>
                                <option hidden value="0" disabled selected> 
                                Sort By 
                                </option>
                            
                                <option 
                                *ngFor="let sortOption of getSortOptions" 
                                [value]="sortOption.id" >
                                {{sortOption.name}}
                                </option>
                            </select>
                            <fa-icon class="form-control-icon" [icon]="['fas', 'arrow-down-wide-short']"></fa-icon>                      
                        </div>

                        <!-- Search section -->
                        <div class="col-md-3  search-container">
                            <app-search (searchEvent)="searchProduct($event)"></app-search>
                            
                        </div>

                        <!-- reset-options -->
                        <div class="col-md-3 refresh-reset-btn-container">
                            <button type="reset" class="refresh-rest-btns">
                                <!-- <fa-icon class="" [icon]="['fas', 'xmark']"></fa-icon> -->
                                Clear
                            </button>
                            <button class="refresh-rest-btns" (click)="getAllProducts()">
                                <!-- <fa-icon class="" [icon]="['fas', 'arrows-rotate']"></fa-icon> -->
                                Refresh
                            </button>
                        </div>

                    </div>
                </form>
             
                <!-- products-details-section -->
                <div *ngIf="productDetails!=null" class="product-details-container">
                    
                    <div class="row product-details-first-row">                       
                        <!-- product-details-image-->
                        <div class="col-md-2 product-details-image-container">
                            <div class="product-details-image">
                                <img src="{{productDetails?.image}}" (click)="open(0)" class="responsive" />
                            </div>
                        </div>
                        
                        <!-- product-details-price-->
                        <div class="col-md-5 product-details-title-price ">
                            <div class="product-details-title">
                                {{productDetails?.title}}
                            </div>
                         
                            <div class="product-details-price">
                                {{usDollarToRandConvention(productDetails.price) | currency:'R'}}
                            </div>
                        
                        </div>
                        
                        <!-- product-details-description-->
                        <div class="col-md-5  product-details-description">
                            <div class="product-details-category">
                                [ {{productDetails?.category | titlecase }} ]
                            </div>
                            <div class="product-details-rating">
                                <b>Ratings:</b> 
                                <ngb-rating class="star-ratings" [max]="5" [(rate)]="productDetails?.rating.rate" [readonly]="false"></ngb-rating> 
                                ({{productDetails?.rating.rate}})

                            </div>
                            <div class="product-details-count">
                            <b>Counts:</b> {{productDetails?.rating.count}}
                            </div>

                            <button class=" btn btn-sm product-item-btn buy-btn" title="click to buy">
                                Buy
                            </button>
                            <button class=" btn btn-sm product-item-btn" title="add to busket">
                                <fa-icon class="" [icon]="['fas', 'cart-shopping']"></fa-icon>
                            </button>
                            <button class=" btn btn-sm product-item-btn" (click)="hideProductDetailsview" title="Close">
                                <!-- <fa-icon class="" [icon]="['fas', 'xmark']"></fa-icon>  -->
                                Close
                            </button>
                        </div>
                    </div>

                    <div class="row product-details-second-row">
                        <div>
                            <details>
                                <summary>Product Description</summary>
                                <p>{{productDetails?.description}}</p>
                            </details>

                        </div>
                    </div>
                   
                </div>
<!--                 
                <div *ngIf="productDetailsLoading" class="spinner-container">
                    <app-loading-spinner></app-loading-spinner> &nbsp;
                    loading...
                </div> -->
            
                <!-- products-list-section -->
                <div *ngIf="productsList!=null" class="products-container">
                    <!-- loop products-list -->
                    <div *ngFor="let product of productsList  | paginate: {
                                                                            itemsPerPage: tableSize,
                                                                            currentPage: page,
                                                                            totalItems: count
                                                                        }; let i = index"
                        class=" d-lg-inline-flex">
                
                        <!-- product -->
                            <div  class="product-container">
                
                                <div class=" product-img-container" (click)="getThisProductDetails(product.id)" title="product details">
                                    <img src="{{product.image}}" class="product-image responsive " />
                                </div>
                
                                <div class="product-details">
                                    <div class="product-title" (click)="getThisProductDetails(product.id)" title="product details">
                                        {{product.title.slice(0,14)}} ..
                                    </div>
                
                                    <div class="product-price" (click)="getThisProductDetails(product.id)" title="product details">
                                        <fa-icon class="" [icon]="['fas', 'tag']"></fa-icon> 
                                        {{ usDollarToRandConvention(product.price) | currency:'R': 'symbol'}}
                                    </div>
                
                                    <div class="product-btns-container">
                                        <button class=" btn btn-sm product-item-btn buy-btn" title="click to buy">
                                            Buy
                                        </button>
                                        <button class=" btn btn-sm product-item-btn" title="add to busket">
                                            <fa-icon class="" [icon]="['fas', 'cart-shopping']"></fa-icon>              
                                        </button>
                                        <button class=" btn btn-sm product-item-btn" (click)="getThisProductDetails(product.id)" title="product details">
                                            <fa-icon class="" [icon]="['fas', 'circle-info']"></fa-icon>
                                        </button>

                                       
                                    </div>
                                </div>
                
                            </div>
                                    
                    </div>
                </div>

                <!-- spinner section -->
                <div *ngIf="productListLoading" class="spinner-container">
                    <app-loading-spinner></app-loading-spinner> &nbsp;
                    loading...
                </div>

                <!-- Items not found view -->
                <div *ngIf="productsList?.length == 0 " class=" product-list-container">
                    <div class="noItemFound">
                        <div class="noItemFoundTitle">
                            
                            Oops!
                        </div>
                        <div class="noItemFoundDescription">
                            The item you are searching for could not be found. <br/>
                            <button class="rearch-error-button" (click)="getAllProducts()" >
                                <fa-icon class="" [icon]="['fas', 'magnifying-glass']"></fa-icon>
                                &nbsp; search again
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Pagenation section-->
                <div  *ngIf="!productListLoading"  class="pagenation-container">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                </div>
                               
            </div>
                    
            <div *ngSwitchCase="'desciptionTab'">
                <section class="about-paragraphs borderd-paragraph">
                    This example covers the basics of template directives and how they can be
                    used.<br />
                </section>
                <section class="about-name ">Covered concepts</section>
                <section class="about-paragraphs">
                    <ul class="skills-list">
                        <li><b>ngIf</b> - eg. Displays the list of items only if the list length is
                            greater than 0 </li>
                        <li><b>ngIf/else</b> - eg. Displays the "No items found" message if list length
                            is equal to</li>
                        <li><b>ngFor</b> Iterates the list of items sotred in array</li>
                        <li><b>ngSwitch</b> - determines which tab (Example or Description) to desplay
                        </li>
                        <li><b>ngClass </b> and <b>ngStyle</b> are covered at a later stage in this
                            portfolio</li>
                    </ul>
                </section>
            </div>

    </div>
    </div>
   

    <!-- Sidebar-->
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>


