.page-content {
    margin-top: 15px;
}

.formSwitch {
    padding-bottom: 10px;
}


/* ------------------- Products --------------------- */
.products-container {
    border-top: 1px solid lightgrey;
    text-align: center;
    padding-top: 20px;
}

.products-block {
    display: inline-block;
    max-width: 100%;
    /* border: 1px solid lightgrey; */
    margin: 3px;
}

.product-container {
    border-bottom: 1px solid lightgrey;
    width: 161px;
    height: 75px;
    flex: 1 1 auto;
    padding: 0 auto;
    margin-top: 15px;
    cursor: pointer;
}

.product-img-container {
    width: 33%;
    /* border: 1px solid lightgrey; */
    display: inline-block;
    vertical-align: top;
}

.product-image {
    max-width: 100%;
    object-fit: contain;
    height: 60px;
    padding-left: 2px;
    /* border: 1px solid lightgrey; */
}

.product-details {
    width: 67%;
    /* border: 1px solid lightgrey; */
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 11px;
}

.product-title {
    color: gray;
    font-size: 12px;
    font-weight: bolder;
}

.product-price-title {
    font-size: 25px;
}

.product-price {
    color: red;
    font-size: 12px;
}

.price-tag {
    color: red;
    margin-right: 5px;
}

/* ------------------- spinner container--------------------- */

.spinner-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
}

/* ------------------- List container--------------------- */

.product-btns-container {
color: white;
margin-top: 3px;
}

.product-item-btn {
    border: none;
    color: grey;
    background-color: #f8f9fa;
    margin-right: 4px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 10px;
  
}

.product-item-btn:hover {
    background-color: red;
    color: white;
}

.buy-btn {
    background-color: brown;
    color: white;
}

/* ------------------- Product details Preview --------------------- */
.product-details-container {
    /* border: 1px solid lightgrey; */
    padding-left: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.product-details-first-row {
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    margin: 0px;
}

.product-details-image {
   
    height: 100px;
    padding-bottom: 5px;
    cursor: pointer;
    /* object-fit: contain; */
    text-align: left;
    margin-bottom: 18px; 
    /* border: 1px solid lightgrey; */
}

.product-details-image img{
    height: 110px;
    object-fit: contain;

    max-width: 100%;
    /* border: 1px solid lightgrey; */
}

.product-details-title {
    font-weight: bold;
}

.product-details-price {
    font-size: 25px;
    color: red;
    margin-bottom: 7px;
}

.product-details-category {
    font-weight: bold;
    font-size: 18px;
    color: brown;
}

.star-ratings {
    color: goldenrod;
    margin-left: 5px;
    font-size: 20px;
}

.product-details-count {
    margin-bottom: 5px;
}

.product-details-container .product-item-btn {
    border: none;
    color: white;
    background-color: red;
    margin-right: 8px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;

}

.product-details-container .product-item-btn:hover {
    background-color: brown;
    color: white;
}

.product-details-container .buy-btn {
    background-color: orange;
    color: white;
}

.product-details-container .more-btn {
    background-color: skyblue;
    color: white;
}

.product-details-container .dismiss-btn {
    background-color: lightgrey;
    width: 100%;
    border: none;
    color: white;
    margin-top: 8px;
}

/* ------------------- No items found - container--------------------- */
.noItemFound {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.noItemFoundTitle {
    font-size: 30px;
}

.noItemFoundDescription {
    font-size: 20px;
} 

.search-icon{
        color: orange;
}

.rearch-error-button{
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
}

.rearch-error-button:hover {
    background-color: orange;
    color: white;
}

/* ------------------- Filter, Search, Sort field --------------------- */
.filter-search-sort-section {
    object-fit: contain; 
    margin-bottom: 15px;
    color: grey;
    /* border: 1px solid lightgrey; */
}

.filter-container, .sort-container, .search-container, .refresh-reset-btn-container,.refresh-reset-btn-container {
    margin-top: 6px;
    margin-right:0px;
    /* border: 1px solid lightgrey; */
} 

.form-select {
    padding-left: 11px;
}

.dropdown-list option {
    color: grey;
    padding-left: -15px;
    margin-top: 10px;
}

.form-control-icon {
     float: left;
     margin-left: 14px;
     margin-top: -27px;
     position: relative;
     z-index: 2;
    color: lightgrey;
 }

 .default-dropdown-item {
     padding-top: 15px;
     padding-left: 30px;
 }

 .dropdown-list {
     padding-left: 35px;
    color: grey;
 }



 .refresh-rest-btns {
    border: none;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: grey;
    border-radius: 5px;
 }

 .refresh-rest-btns:hover {
    color: white;
    background-color: brown;
 }

/* ------------------- Search field --------------------- */
.search-container {
    color: lightgrey;
}

/* ------------------- Pagenation --------------------- */
.pagenation-container {
    padding: 0 auto;
    padding-top: 10px;
    margin-top: 5px;
    padding-left:0px ;
    margin-left: 0px;
}