<div @fadeInPageTitle class="">
    <div class="welcome-messsage bg-light">
        <h3>[ TEMPLATE-DRIVE ]</h3>
        <p class="page-title-description fade-in d-none d-md-block">
            UI DESIGN, VALIDATION, AND ROUTE-GUARD.
        </p>

        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div class="social-buttons-aligner slide-up">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>
</div>

<div class="row page-content">
    <div class="col-md-9" [ngSwitch]="viewMode">
        
        <!-- page content -->
        <div class="page-content-container">

            <!-- Switch tabs-->
            <div class="formSwitch">
                <ul class="nav nav-tabs ">
                    <li [class.active]="viewMode == 'defaultTab'">
                        <a (click)="viewMode = 'defaultTab'" class="nav-link active btn tab-text" data-bs-toggle="tab"> 
                            <fa-icon class="" [icon]="['fas', 'address-card']"></fa-icon> 
                            Form
                        </a>
                    </li>
            
                    <li [class.active]="viewMode == 'desciptionTab'">
                        <a (click)="viewMode = 'desciptionTab'" class="nav-link  btn tab-text" data-bs-toggle="tab"><fa-icon class="" [icon]="['fas', 'circle-info']"></fa-icon> info</a>
                    </li>

                    <li [class.active]="viewMode == 'dashboardTab'">
                    
                        <a (click)="viewMode = 'dashboardTab'" routerLink="/dashboard" class="nav-link  btn tab-text"><fa-icon class="concept-icon " [icon]="['fas', 'grip']"> </fa-icon>
                        Panel</a>
                    </li>
                </ul>
            </div>

            <div *ngSwitchCase="'defaultTab'">
                    <!-- first row  - Develper form -->
                    <section class="row dome-form-container" *ngIf="displayDeveloperForm == true" >
                        <!-- Develper form -->
                        <div class="form-sections-headings">Developer form</div>

                        <!--                                        
                            ngModel     - binds all form elements to ngForm using their form element names
                            formData    - acts as a form object (form-controls, Statuses [touched, valud, etc], and their Values [element-names contents])
                            ngForm      - allow binding all form-controls
                            #tempalte   -variables are used to acces form-controls for validation
                            (ngSubmit)  - gets triggered by the clicked submit button  
                        -->

                        <!-- Form -->                      
                        <form #formData="ngForm" (ngSubmit)="Developer(formData)" >                           
                            <section class="row">
                                <!-- Form - first column -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- #firstName allows angular to binda the form-control to ngModel -->
                                        <input [(ngModel)]="developerName" type="text" name="firstName" #firstName="ngModel"
                                            id="firstName" required class="form-control form-control-sm" validateStr
                                            placeholder="First name">

                                        <!--Multiple Validation Error messages -->
                                        <div *ngIf="firstName.touched && firstName.invalid" class="form-validation-message">
                                            <div *ngIf="firstName.errors?.['required']">* First name required </div>

                                            <div *ngIf="firstName.errors?.['whiteSpace']">* First name cannot contain whitespace</div>
                                            <div *ngIf="firstName.errors?.['specialCharacter']">* First name cannot contain special
                                                chatacter(s)</div>

                                            <div *ngIf="firstName.errors?.['minlength']"> First name should have a minimum of
                                                {{firstName.errors?.['minlength'].requiredLength}} characters </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <!-- #firstName allows angular to binda the form-control to ngModel -->
                                        <input [(ngModel)]="developerEmail" type="text" name="emailAddress" #emailAddress="ngModel"
                                            required email minlength="5" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                            class="form-control form-control-sm" placeholder="Email address">
                                        <!--Multiple Validation Error messages -->
                                        <div *ngIf="emailAddress.touched && emailAddress.invalid" class="form-validation-message">
                                            <div *ngIf="emailAddress.errors?.['required']">* Email address required </div>
                                            <!-- <div *ngIf="emailAddress.errors?.['whiteSpace']">* Email address cannot contain whitespace</div> -->
                                            <div *ngIf="emailAddress.errors?.['minlength']"> * Email should have a minimum of
                                                {{emailAddress.errors?.['minlength'].requiredLength}} characters </div>
                                            <!-- <div *ngIf="firstName.errors?.['maxlength']"> First name should have a minimum of 5 characters </div> -->
                                            <div *ngIf="emailAddress.errors?.['pattern']"> * Email address does not match the required
                                                data format </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Form - second column -->
                                <div class="col-md-6 form-second-column">

                                    <div ngModelGroup="project">
                                        <div class="form-group">
                                            <select class="form-select form-select-sm select-text" [(ngModel)]="developerRole"
                                                name="developerRole" #role="ngModel" required>
                                                <!--Binding the selected option as an object {"id": 2, "name": "Email"}-->
                                                <option value="" hidden disabled selected class=""> --- select devepoler role ---</option>
                                                <option *ngFor="let roleItem of developerRoles" class="" [ngValue]="roleItem.name"
                                                    [selected]="roleItem.name">
                                                    {{roleItem.name}}
                                                </option>
                                            </select>

                                            <div *ngIf="role.touched && role.invalid" class="form-validation-message">
                                                <div *ngIf="role.errors?.['required']">* Please select developer role</div>
                                            </div>

                                        </div>

                                         <div class="form-check form-switch teamMember">
                                            <input [(ngModel)]="developerSubscription"  #isSubscribed="ngModel" name="isSubscribed" class="form-check-input" type="checkbox" role="switch" id="developerSubscription" checked>
                                            <label class="form-check-label" for="developerSubscription">Allocate to project? (No/Yes)</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <!-- keep the button inactive untill when wthe for is valid -->
                                        <button [disabled]="!formData.valid" class="btn btn-danger btn-sm form-btns">
                                             {{formSubmitBtnMode == true ? ' confirm ' : ' submit '}}
                                        </button>

                                        <button (click)="toggleFormDisplay" class="btn btn-success btn-sm ">
                                            close
                                        </button>
                                    </div>

                                </div>

                            </section>
                        </form>
                    </section>

                    <!-- second row - list and details view -->
                    <section class="row dome-form-container">
                        <!-- Develpers list -->
                        <div class="col-md-6">
                            <div class="form-sections-headings">Developers list</div>
                            <div *ngIf="developers.length != 0; else noDeveloperFound" class="row list-group dome-list-container">
                                <button *ngFor="let developer of developers;  let i = index" class=" list-group-item">

                                    <div (click)="DeveloperDetails(developer)" class="col-md-4 dome-list-cells developer-name-cell "
                                        title="Click for details">
                                        <b> {{i+1 }}. </b>&nbsp;
                                        <fa-icon class="concept-icon" [icon]="['fas', 'user']"></fa-icon> &nbsp;
                                        {{ developer.firstName}}
                                    </div>

                                    <div (click)="DeveloperDetails(developer)" class="col-md-5 dome-list-cells project-member-cell " title="Click for details"> 
                                        <div  *ngIf="developer.project.isSubscribed == true">
                                        <fa-icon class="concept-icon" [icon]="['fas', 'hourglass-half']"> </fa-icon> Busy
                                        </div>

                                        <div *ngIf="developer.project.isSubscribed == false">
                                            <fa-icon class="concept-icon" [icon]="['far', 'clock']"> </fa-icon> Idling
                                        </div>
                                    </div>

                                    <div  class="col-lg-3 dome-list-cells list-btn-container">
                                        <button (click)="populateDeveloperForm(developer)" class="btn-sm list-btn" title="Click to edit"> 
                                             <fa-icon class="" [icon]="['far', 'pen-to-square']"></fa-icon>
                                        </button>&nbsp;
                                        <button (click)="DeleteSelectedDeveloper(developer)" class="btn-sm list-btn" title="Click to delete">
                                            <fa-icon class="" [icon]="['far', 'trash-can']"></fa-icon>
                                        </button>
                                    </div>

                                </button>
                            </div>

                            <ng-template #noDeveloperFound>
                                <div class="alert alert-danger  empty-list-message">
                                    <fa-icon class="concept-icon" [icon]="['fas', 'circle-info']"></fa-icon>
                                    Sorry, no developer profile found!
                                </div>
                            </ng-template>

                            <!-- display developer form btn -->
                            <section *ngIf="displayDeveloperForm == false" class="create-button-toggle">
                                <button (click)="toggleFormDisplay"><fa-icon class="" [icon]="['fas', 'user-plus']"></fa-icon> Create </button>
                            </section>

                            

                        </div>

                        <!-- Developer details -->
                        <div class="col-md-6 ">
                            
                            <div *ngIf="developers.length !=0"  class="form-sections-headings" >
                                Developer details
                            </div>

                            <div *ngIf="developers.length !=0" >
                            
                            <div *ngIf="isDeveloperDetails == true ; else noDeveloperDetailsFound;" class="developer-details-container">
                                <section class="row ">
                                    <div class="col-md-3"><b>Name:</b></div>
                                    <div class="col-md-9">{{objDeveloperDetails.firstName}}</div>
                                </section>

                                <section class="row ">
                                    <div class="col-md-3"><b>Email:</b></div>
                                    <div class="col-md-9">{{objDeveloperDetails.emailAddress}}</div>
                                </section>

                                <section class="row ">
                                    <div class="col-md-3"><b>Role:</b></div>
                                    <div class="col-md-9">{{objDeveloperDetails.project.developerRole}}</div>
                                </section>

                                <section class="row ">
                                    <div class="col-md-3"><b>Project:</b></div>
                                    <div class="col-md-9">{{objDeveloperDetails.project.isSubscribed == true ? 'Allocated to a projectr': 'No allocated to any project'}}</div>
                                </section>
                            </div>

                            <ng-template #noDeveloperDetailsFound>
                                <div class="alert alert-warning alert-sm empty-list-message">
                                    <fa-icon class="concept-icon" [icon]="['fas', 'circle-info']"></fa-icon>
                                    Please select developer to view details!
                                </div>
                            </ng-template>

                            </div>
                        </div>

                    </section>

            </div>
            
            <div *ngSwitchCase="'desciptionTab'">
                <section class="about-paragraphs borderd-paragraph">
                    This example covers the basics of template directives and how they can be
                    used.
                  
                    <br />
                </section>
                <section class="about-name ">Covered concepts</section>
                <section class="about-paragraphs">
                    <ul class="skills-list">
                        <li><b>ngIf</b> - eg. Displays the list of items only if the list length is
                            greater than 0 </li>
                        <li><b>ngIf/else</b> - eg. Displays the "No items found" message if list length
                            is equal to</li>
                        <li><b>ngFor</b> Iterates the list of items sotred in array</li>
                        <li><b>ngSwitch</b> - determines which tab (Example or Description) to desplay
                        </li>
                        <li><b>ngClass </b> and <b>ngStyle</b> are covered at a later stage in this
                            portfolio</li>
                    </ul>
                </section>
            </div>

            <div *ngSwitchCase="'dashboardTab'">
                <app-dashboard-items></app-dashboard-items>
           
            </div>
        </div>

      
    </div>

    <!-- Sidebar-->
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>

