<div @fadeInPageTitle class="">
    <div class="welcome-messsage bg-light">
        <h3>[ OOPS! ]</h3>
        <p class="page-title-description fade-out">
            THE RESOURCE YOU ARE LOOKING FOR WAS NOT FOUND.
            <!-- Mabunda Group Pty. Ltd does work on Environmental Health and Safety (EHS), Construction Health and Safety (CHS) and Food
            Safety Consultancy work in a wide range of business sectors which would include Construction, Telecommunications, FMCG,
            Retail, etc. -->
        </p>

        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div class="social-buttons-aligner slide-up">
            <app-share-this-buttons></app-share-this-buttons>
        </div>

    </div>

</div>


<div class="row page-content">

    <div class="col-md-9">

        <div class="page-content-container">
   
            <div class="page-error-paragraph">
                <section>
                    The page you are looking for could not be found or you do not have access to the page.
                </section>
                <section>
                    Please content the administrator for further assistance.
                </section>
            </div>
            
        </div>
    </div>

<div class="col-md-3">
    <app-sidebar></app-sidebar>
</div>

</div>

