<footer class="bg-dark">
    <div class="row footer-items-container">

        <div class="col-md-3 footer-item">
        
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'code']"></fa-icon>&nbsp;
                TECHNOLOGIES
            </div>
            <div class="footer-item-list">
                Resposive Web Design<br />
                Angular/Typescript<br />
                RESTful API Integration<br />
                RxJs Operators<br />
            </div>
        </div>

        <div class="col-md-3 footer-item">
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'screwdriver-wrench']"></fa-icon>&nbsp; TOOLS
            </div>
            <div class="footer-item-list">
                <span>Visual Studio Code<br /></span>
                <span>Git Source Control <br /></span>
                <span>Karmar and Jasmine<br /></span>
                <span>Postman, and DevTools</span>
            </div>
        </div>


         
            <div class="col-md-3 footer-item d-none d-md-block">
                <div class="footer-item-header">
                    <fa-icon class="concept-icon" [icon]="['fas', 'bars']"></fa-icon>&nbsp; MISC ITEMS
                </div>
                <div class="footer-item-list footer-quick-links">
                    <span>
                        <a class="" routerLink="/about">This Portfolio</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/cpanel"> cPanel </a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/projects"> Other Projects</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/contact"> Get in touch</a><br />
                    </span>
                </div>
            </div>
          
        
            <div class="col-md-3 footer-item d-none d-md-block">
                <div class="footer-item-header">
                    <fa-icon class="concept-icon" [icon]="['fas', 'phone']"></fa-icon>&nbsp;
                    CONTACT DETAILS
                </div>
                <div class="footer-item-list">
                    (+27)79 691-0468<br />
                    (+27)66 524-6960<br />
                    yingishirinda@gmail.com<br />
                    yingishirinda@yahoo.com<br />
                </div>
            </div>

        


        <!-- WhatsApp floating button -->
        <a href="https://wa.me/27796910468?text=Hi Yingi, I would like to hear more about your software development skills. Can we please have a discussion? Thanks."
            class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>

        
    </div>
  
    
    <div class=" row bg-dark copyright-items-container ">
        <div class="" >
            myAP &copy; {{year}} All rights reserved. <br /> Developed by Yingi. 
                <!-- <p><app-star-rating></app-star-rating></p> -->
        </div>
    </div>


</footer>
