<footer class="bg-dark">
    <div class="row footer-items-container">

        <div class="col-md-3 footer-item">
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'phone']"></fa-icon>&nbsp;
                CONTACT DETAILS
            </div>
            <div class="footer-item-list">
                (+27)79 691-0468<br />
                (+27)66 524-6960<br />
                yingishirinda@gmail.com<br />
                yingishirinda@yahoo.com<br />
            </div>
        </div>
        
            <div class="col-md-3 footer-item d-none d-md-block">
                <div class="footer-item-header">
                    <fa-icon class="concept-icon" [icon]="['fas', 'bars']"></fa-icon>&nbsp; MISC ITEMS
                </div>
                <div class="footer-item-list footer-quick-links">
                    <span>
                        <a class="" routerLink="/about">About Developer</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/dashboard"> Dashboard </a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/projects"> Recent Projects</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/contact"> Get in touch</a><br />
                    </span>
                </div>
            </div>
          
        <div class="col-md-3 footer-item d-none d-md-block">
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'screwdriver-wrench']"></fa-icon>&nbsp; TOOLS
            </div>
            <div class="footer-item-list">
                <span>Visual Studio Code<br /></span>
                <span>Git and Github <br /></span>
                <span>Swagger<br /></span> 
                <span>Chrome DevTools</span>
            </div>
        </div>

        <div class="col-md-3 footer-item">
        
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'code']"></fa-icon>&nbsp;
                TECHNONOGIES
            </div>
            <div class="footer-item-list">
                Resposive UIs<br />
                Angular 16.x Framework<br />
                Web API Integration<br />
                .NET MVC 5<br />
            </div>
        </div>


        <!-- WhatsApp floating button -->
        <a href="https://wa.me/27796910468?text=Hi Yingi, I would like to hear more about your software development skills. Can we please have a discussion? Thanks."
            class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>

        
    </div>
  
    
    <div class=" row bg-dark copyright-items-container ">
        <div class="" >
            My Recent Projects (myRP) &copy; 2023 | All Rights reserved<p> Developed by Yingi 
                <!-- <p><app-star-rating></app-star-rating></p> -->
        </div>
    </div>


</footer>
