<div @fadeInPageTitle class="">
    <div class="welcome-messsage bg-light">
        <h3>[ PORTFOLIO cPANEL ]</h3>
        <p class="page-title-description fade-in d-none d-md-block">
           <b class="bold-subtitle-word">ANGULAR CONCEPTS</b> AND HOW THEY ARE IMPLEMENTED.
        </p>

        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div class="social-buttons-aligner slide-up">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>
</div>


<div class="row page-content">

    <div class="col-md-9" [ngSwitch]="viewMode">

        <div class="page-content-container">

            <!-- Switch tabs-->
            <div class="formSwitch">
                <ul class="nav nav-tabs ">
                    <li [class.active]="viewMode == 'defaultTab'">
                        <a (click)="viewMode = 'defaultTab'" class="nav-link active btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="concept-icon " [icon]="['fas', 'grip']"> </fa-icon>
                            Panel
                        </a>
                    </li>
            
                    <li [class.active]="viewMode == 'desciptionTab'">
                        <a (click)="viewMode = 'desciptionTab'" class="nav-link  btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="" [icon]="['fas', 'circle-info']"></fa-icon> How it works</a>
                    </li>

                    <li [class.active]="viewMode == 'desciptionTab'" (click)="redirectToHomePage()">
                        <a class="nav-link  btn tab-text" data-bs-toggle="tab">
                            <fa-icon class=""  [icon]="['fas', 'home']"></fa-icon> home</a>
                    </li>

                </ul>
            </div>

            <div *ngSwitchCase="'defaultTab'">
                <app-dashboard-items></app-dashboard-items>
                <!--For enabling the child routes-->
                <router-outlet>
                    <!--
                    Takes care of routes requests all app components
                    -->
                </router-outlet>
            </div>

            <div *ngSwitchCase="'desciptionTab'">
                <div class="card">
                    <strong class="card-header">
                        <fa-icon class="" [icon]="['fas', 'bookmark']"></fa-icon>
                        Description
                    </strong>
                    <div class="card-body">
                        <p class="card-text">This component serves as a <b>Dashboard or Control Panel</b> for this portfolio.
                            It presents easy-access to various features and functionalities of the portfolio. 
                            The status for each development progress very depending on whether the feature is just a <b>concept</b> , the development of a feature is <b>in-progress</b>  , the feature is <b>completed</b> , which are represented in different colors. 
                        </p>
                    </div>
                </div>
            
                <div class="card">
                    <strong class="card-header">
                        <fa-icon class="" [icon]="['fas', 'mug-hot']"></fa-icon>
                        The scope of work
                    </strong>
                    <div class="card-body">
                        <ul>
                            <li>The implementation of Responsive UI Design principles.</li>
                            <li>The development progress status for each listed feature.</li>
                        </ul>
                    </div>
                </div>
            </div>

            
        </div>

    </div>

    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>