.page-content {
    margin-top: 15px;
}

.outer-accordion {
    margin: 0px;
    padding-left: 0px;
}

/* ------------------- No items found - container--------------------- */
.noItemFound {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.noItemFoundTitle {
    font-size: 30px;
}

.noItemFoundDescription {
    font-size: 20px;
}

.rearch-error-button {
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    background-color: orange;
    color: white;
}

.rearch-error-button:hover {
    background-color: brown;
    color: white;
}