<div @fadeInPageTitle class="">
    <div class="welcome-messsage bg-light">
        <h3>[ OOPS! ]</h3>
        <p class="page-title-description fade-in d-none d-md-block">
            THE RESOURCE YOU ARE LOOKING FOR WAS NOT FOUND..
        </p>

        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div class="social-buttons-aligner slide-up">
            <app-share-this-buttons></app-share-this-buttons>
        </div>

    </div>

</div>


<div class="row page-content">

    <div class="col-md-9">

        <div class="page-content-container">

        <div class="page-error-paragraph">
            <section>
                The page you are looking for could not be found or you do not have access to the page.
            </section>
            <section>
                Please content the administrator for further assistance.
            </section>
        </div>
        </div>
    </div>

    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>

