.page-content {
    margin-top: 15px;
}

.formSwitch {
    padding-bottom: 10px;
}

.auth-introduction {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 5px;
}

.login-options-section {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid lightgrey;
    background-image: url('^assets/banners/1.jpg');
    background-color: #cccccc;
    /* background-size: contain; */
    background-repeat: no-repeat;
    object-fit: contain; 
}

.login-img {
 height: 60px;
 margin-bottom: 20px;
}

.Authentication-option {
    margin-top: 10px;
    margin-bottom: 20px;
}

.Authentication-nav {
    border: 1px solid lightgrey;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    margin-right: 10px;
    color: white;
    font-size: 12px;
    margin-top: 10px;
    width:260px;
}
.Authentication-nav:hover {
    background-color: orangered;
    color: white;
    border-color:orangered;
}

