.page-content {
    margin-top: 15px;
}

.outer-accordion {
    margin: 0px;
    padding-left: 0px;
    margin-top: 8px;
}

.inner-accordion {
    margin: 0px;
    padding-left: 0px;
}

.outer-body {
    padding-left: 0px;
    margin: 5px;
}

.accordion-body {
    border-left: 1px solid lightgrey;
    margin-top: 10px;
     margin-bottom: 10px;
    margin-left: 18px;
    padding: 15px;
    padding-bottom: 5px;
    
}

.accordion-item {
    border: none;
    margin-left: 0px;
}

.accordion-button {
    padding: 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-left: 0px;
    margin-bottom: 2px;
}

.accordion-button:not(.collapsed) {
    color: grey;
    background-color: #f8f9fa;
    box-shadow: none;
    /* border: 1px solid lightgrey; */
}

.accordion-button:not(.expand) {
    color: grey;
    background-color: #f8f9fa;
    box-shadow: none;
    /* border: 1px solid lightgrey; */
}

.accordion-button:focus {
    z-index: 3;
    border: none;
    outline: 1;
    box-shadow: 0 0 0 0rem #f8f9fa;
    border: none;
    /* border: 1px solid lightgrey; */
}