<div @fadeInPageTitle class="">
    <div class="welcome-messsage bg-light">
        <h3>[ ABOUT PORTFOLIO ]</h3>
        <p class="page-title-description fade-in d-none d-md-block">
            INTRO, ACADEMIC BACKGROUND, SKILLS, AND WORK EXPERIENCE.
        </p>

        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div class="social-buttons-aligner slide-up">
            <app-share-this-buttons></app-share-this-buttons>
        </div>

    </div>

</div>


<div class="row page-content">

    <div class="col-md-9" [ngSwitch]="viewMode">

        <div class="page-content-container">
            <!-- Switch tabs-->
            <div class="formSwitch">
                <ul class="nav nav-tabs ">
                    <li [class.active]="viewMode == 'defaultTab'">
                        <a (click)="viewMode = 'defaultTab'" class="nav-link active btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="" [icon]="['fas', 'circle-info']"></fa-icon>
                            Porfolio
                        </a>
                    </li>
            
                    <li [class.active]="viewMode == 'developerTab'">
                        <a (click)="viewMode = 'developerTab'" class="nav-link  btn tab-text" data-bs-toggle="tab"><fa-icon
                                class="" [icon]="['fas', 'user-tie']"></fa-icon> Developer</a> 
                    </li>
            
                    <li [class.active]="viewMode == 'dashboardTab'">
            
                        <a (click)="viewMode = 'dashboardTab'" routerLink="/cpanel" class="nav-link  btn tab-text"><fa-icon
                                class="concept-icon " [icon]="['fas', 'grip']"> </fa-icon>
                            Panel</a>
                    </li>
                </ul>
            </div>

            <div *ngSwitchCase="'defaultTab'">
                <!-- accordio starts here -->
                <div class="accordion outer-accordion accordion-flush" id="accordionExample">
                
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                <fa-icon class="concept-icon" [icon]="['fas', 'lightbulb']"></fa-icon>&nbsp;
                                INTRODUCTION
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    <b>my [ Angular Portfolio ]</b> is a web-based single-page application built using the widely-used javascript framework 
                                    called Angular 2+ and Typescript, together with the implementation of RxJs operastors and Responsive Web Design (RWD) principles.               
                                </p>
                                <p>
                                    The objective is to demonstrate the knowledge and practical skills for developing front-end (SPA) applications using Angular framework.
                                </p>                
                            </div>
                        </div>
                    </div>
                
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <fa-icon class="concept-icon" [icon]="['fas', 'code']"></fa-icon>&nbsp;
                                TECHNOLOGIES
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <b>Technologies:</b>
                                <ul>
                                    <li>
                                        HTML5, CSS3, Bootstrap 5, javascript, Angular material, Font-Awesome, and RWD  
                                    </li>
                                    <li>
                                        Angular 16.x (TypeScript) and RESTful API integration.
                                    </li>
                                    <li>
                                        RxJs Operators
                                    </li>
                                </ul>
                
                                <b>Tools:</b>
                                <ul>
                                    <li>
                                        Visual Studio Code and Angular CLI - coding and scaffolding angular building blocks.
                                    </li>
                                    <li>
                                         Jasmine and Karma - testing and integration.
                                    </li>
                                    <li>
                                        Git and GitHub - source control.
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <fa-icon class="concept-icon" [icon]="['fas', 'flask']"></fa-icon>&nbsp;
                                CONCEPTS
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                
                
                                <ul>
                                    <li>
                                       Angular Forms - Template-Driven form, and Reactive form.
                                    </li>
                                    <li>
                                        Authentications - Implementation of authentication using various approaches (Standard, JWT, and Auth0).
                                    </li>
                                    <li>
                                        RESTful API - JSON result API integration and Server Error-handling.
                                    </li>
                                    <li>
                                        RxJs Operators, Custom Valications, Routing and Route guard (canActive/canDeactivate), etc.
                                    </li>
                                    <li>
                                        Other concepts - Google Maps, Photos Gallery, Calendar, Charts and Graphs, and Online Video clips.
                                    </li>

                
                                </ul>
                
                                
                            </div>
                        </div>
                    </div>
                
                </div>

            </div>

            <div *ngSwitchCase="'developerTab'">
                <!-- accordion container starts here -->
                <div class="accordion outer-accordion accordion-flush" id="accordionExample">
                
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                <fa-icon class="concept-icon" [icon]="['fas', 'user-tie']"></fa-icon>&nbsp;
                                ABOUT DEVELOPER
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    <b>Yingisani</b> is a young talented african male born in South African, who is career-driven and enjoys solving real-word programming problems
                                     His strength lays on web-based technologies (HTML5, CSS3, Bootstrap5, javascript, Angular 2+, ).
                
                                </p>
                                <p>
                                    He holds several Information Technology (<b>IT</b>) qualifications and accreditations obtained from various formal academic institutions (universities and colleges).
                                </p>
                                <p>
                                    He is currently employed at international private company as an Systems Data Engineer, and has been responsible for various roles and responsibilities till present.
                                </p>
                
                            </div>
                        </div>
                    </div>
                
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <fa-icon class="concept-icon" [icon]="['fas', 'graduation-cap']"></fa-icon>&nbsp;
                                ACADEMIC BACKGROUND
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <b>Qualifications:</b>
                                <ul>
                                    <li>
                                        Bachelor of Science (<b>B.Sc</b>) Honours degree in Computing - University of South
                                        Africa (UNISA) - 2023.
                                    </li>
                                    <li>
                                        Advanced Diploma in IT (Information Resource Management) - University of South Africa
                                        (UNISA) - 2021.
                                    </li>
                                    <li>
                                        National Diploma in IT (Web and Applications Development) - Tshwane University of
                                        Technology (TUT) - 2012.
                                    </li>
                                    <!-- 
                                                <li>
                                                    National Diploma in IT (<b>Support Services</b>) - University of Johannesburg (<b>UJ</b>) - 2008.
                                                </li>                      -->
                                </ul>
                
                                <b>Accreditations:</b>
                                <ul>
                                    <li>
                                        Data Analysis with Python - (Cambridge Spark) - 2022.
                                    </li>
                                    <li>
                                        70-486: Developing ASP.NET MVC5 Web Applications - (IT Academy) - 2021
                                    </li>
                                    <!-- <li>
                                                    AZ-900: Microsoft Azure Fundamentals - (<b>IT Academy</b>) - 2021
                                                </li> -->
                                    <!-- <li>
                                                    Siemens Engineering Academy Programme - (<b>Henley Business School</b>) - 2018
                                                </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <fa-icon class="concept-icon" [icon]="['fas', 'wrench']"></fa-icon>&nbsp;
                                SKILLS & KNOWLEDGE
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                
                
                                <ul>
                                    <li>
                                        Building Resposive Web Designs (<b>HTML5, CSS3, Boostrap 5.2.x, Font Awesome</b>)
                                    </li>
                                    <li>
                                        Developing Single-Page applicaitons (<b>SPA</b>) and <b>RESTful API</b> integration using
                                        <b>Angular 16.x framework</b>.
                                    </li>
                                    <li>
                                        Developing Web Applications using <b>MVC pattern</b> and <b>.NET Entity Framework</b>.
                                    </li>
                                    <li>
                                        Debugging, Testing, and Source control (<b>DevTools, Jasmine & Karma, Git and Github</b>)
                                    </li>
                                    <!-- <li>
                                        Progranning electronic logic controllers (<b>PLC</b>), and communition networks configuration.
                                    </li>
                 -->
                                </ul>
                
                
                            </div>
                        </div>
                    </div>                
                </div>
            </div>

           
        </div>
    </div>

    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>