.page-content {
    margin-top: 15px;
    text-align: center;
}

.item-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
    border: 1px solid lightgrey;
    color: grey;
    min-width: 120px;
    padding: 5px;
    font-size: 12px;
}

.dashboard-items>.btn:hover {
    background-color: orangered;
    border:none;
    color: white;
}

.dashboard-items {
     text-align: center;
}

.item-icon {
    font-size: 20px;
}

.panding-item {
    color: red;
}

.dashboard-items>.btn:hover .panding-item {
    color: white;
}