.page-content {
    margin-top: 15px;
    text-align: center;
}

.items-progress-status-legend {
    /* text-align: center; */
    padding: 12px;
    border-bottom: 1px solid lightgrey;
}

.not-started-progress-status, .in-progress-status, .completed-progress-status {
    display: inline-block;
    margin-right: 15px;
    /* font-size: 12px; */
}

.item-icon {
    margin-right: 5px;
}

.not-started {
    color: red;
}

.in-progress {
    color: yellowgreen;
}

.completed{
    color: gray;
}


.item-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
    border: 1px solid lightgrey;
    color: grey;
    min-width: 120px;
    padding: 5px;
    font-size: 12px;
}

.dashboard-items>.btn:hover {
    background-color: orangered;
    border:none;
    color: white;
}

.dashboard-items {
     text-align: center;
    border-bottom: 1px solid lightgrey;
    margin: 5px;
    padding: 5px;
}

.item-icon {
    font-size: 20px;
}

.panding-item {
    color: red;
}

.dashboard-items>.btn:hover .panding-item {
    color: white;
}