<div class="dashboard-items">

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/template-driven-form">
        <fa-icon class="" [icon]="['fas', 'address-card']"></fa-icon> <br />
        [ Forms ] <br /> Template-Driven<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/reactive-form">
        <fa-icon class="" [icon]="['fas', 'address-card']"></fa-icon> <br />
        [ Forms ] <br /> Reactive<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/template-driven-form">
        <fa-icon class="panding-item" [icon]="['fas', 'unlock']"></fa-icon> <br />
        [ Authentication ] <br /> JWT<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/products">
        <fa-icon class="" [icon]="['fas', 'share-nodes']"></fa-icon> <br />
        [ RESTful API ] <br /> Online-store<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/charts">
        <fa-icon class="" [icon]="['fas', 'chart-line']"></fa-icon> <br />
        [ Data Analysis ] <br /> Charts<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/template-driven-form">
        <fa-icon class="panding-item" [icon]="['fas', 'arrow-up-from-bracket']"></fa-icon> <br />
        [ File Systems ] <br /> Upload<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/online-bookings">
        <fa-icon class="" [icon]="['far', 'calendar-days']"></fa-icon> <br />
        [ Calendar ] <br /> Online Bookings<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/gallery">
        <fa-icon class="" [icon]="['fas', 'images']"></fa-icon> <br />
        [ Gallery ] <br /> Photos Album<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/videos">
        <fa-icon class="" [icon]="['fas', 'film']"></fa-icon> <br />
        [ Video ] <br /> Online Clips<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/google-maps">
        <fa-icon class="" [icon]="['fas', 'location-dot']"></fa-icon> <br />
        [ AGM ] <br /> Google Maps<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/template-driven-form">
        <fa-icon class="panding-item" [icon]="['fas', 'circle-info']"></fa-icon> <br />
        [ Pending.. ] <br /> Coming soon<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/dashboard/template-driven-form">
        <fa-icon class="panding-item" [icon]="['fas', 'circle-info']"></fa-icon> <br />
        [ Pending.. ] <br /> Coming soon<br />
    </a>

    <router-outlet>
        <!--
        Takes care of routes requests all app components
      -->
    </router-outlet>

</div>
