<div class="row items-progress-status-legend ">

    <div class="col-md-4  status-wrapper">
        <div class="status-indicator bg-light not-started-progress-status ">
            <fa-icon class="item-icon not-started-icon" size="xs" [icon]="['fas', 'circle']"></fa-icon>
            Not started
        </div>
    </div>

    <div class="col-md-4 status-wrapper ">
        <div class="status-indicator bg-light not-started-progress-status ">
            <fa-icon class="item-icon in-progress-icon" size="xs" [icon]="['fas', 'circle']"></fa-icon>
            In progress
        </div>
    </div>

    <div class="col-md-4  status-wrapper">
        <div class="status-indicator bg-light not-started-progress-status ">
        <fa-icon class="item-icon completed-icon" size="xs" [icon]="['fas', 'circle']"></fa-icon>
        Completed
    </div>
    </div>
</div>


<div class="dashboard-items">

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/template-driven-form">
        <fa-icon class="item-icon fa-fade" [icon]="['fas', 'address-card']"></fa-icon> <br />
        [ Forms ] <br /> Template-Driven<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/reactive-form">
        <fa-icon class="item-icon" [icon]="['fas', 'address-card']"></fa-icon> <br />
        [ Forms ] <br /> Reactive<br />
    </a>
    
    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/sub-menu">
        <fa-icon class="item-icon panding-item" [icon]="['fas', 'window-restore']"></fa-icon> <br />
        [ Menus ] <br /> Cascaded Menu<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/file-upload">
        <fa-icon class="item-icon panding-item" [icon]="['fas', 'cloud-arrow-up']"></fa-icon> <br />
        [ File Systems ] <br /> Files Upload<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/account/auth-basic">
        <fa-icon class="item-icon " [icon]="['fas', 'user-lock']"></fa-icon> <br />
        [ Authentication ] <br /> Baisc Auth<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/account/auth-jwt">
        <fa-icon class="item-icon" [icon]="['fas', 'user-lock']"></fa-icon> <br />
        [ Authentication ] <br /> JWT Auth<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/account/auth-jwt">
        <fa-icon class="item-icon panding-item" [icon]="['fas', 'user-lock']"></fa-icon> <br />
        [ Authentication ] <br /> Auth0<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/online-store">
        <fa-icon class="item-icon" [icon]="['fas', 'share-nodes']"></fa-icon> <br />
        [ RESTful API ] <br /> Online-store<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/firebase">
        <fa-icon class="item-icon panding-item" [icon]="['fas', 'fire-flame-curved']"></fa-icon> <br />
        [ RESTful API ] <br /> Firebase API<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/charts">
        <fa-icon class="item-icon panding-item" [icon]="['fas', 'chart-line']"></fa-icon> <br />
        [ Data Analysis ] <br /> Charts<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/sub-menu">
        <fa-icon class="item-icon panding-item" [icon]="['fas', 'cloud-moon-rain']"></fa-icon> <br />
        [ Weather ] <br /> Geolocation<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/online-bookings">
        <fa-icon class="item-icon" [icon]="['far', 'calendar-days']"></fa-icon> <br />
        [ Calendar ] <br /> Online Bookings<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/gallery">
        <fa-icon class="item-icon" [icon]="['fas', 'images']"></fa-icon> <br />
        [ Gallery ] <br /> Photos Album<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/google-maps">
        <fa-icon class="item-icon" [icon]="['fas', 'location-dot']"></fa-icon> <br />
        [ Google Maps ] <br /> Locations<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/videos">
        <fa-icon class="item-icon" [icon]="['fas', 'film']"></fa-icon> <br />
        [ Video ] <br /> Online Clips<br />
    </a>

    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/gallery">
        <fa-icon class="item-icon panding-item" [icon]="['far', 'lightbulb']"></fa-icon> <br />
        [ New concept ] <br /> Coming soon<br />
    </a>
    
    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/videos">
        <fa-icon class="item-icon panding-item" [icon]="['far', 'lightbulb']"></fa-icon> <br />
        [ New concept ] <br /> Coming soon<br />
    </a>
    
    <a class="btn item-container" [routerLinkActive]="['active']" routerLink="/app/google-maps">
        <fa-icon class="item-icon panding-item" [icon]="['far', 'lightbulb']"></fa-icon> <br />
        [ New concept ] <br /> Coming soon<br />
    </a>
  

    <router-outlet>
        <!--
        Takes care of routes requests all app components
      -->
    </router-outlet>

</div>
