<div @fadeInPageTitle class="">
    <div class="welcome-messsage bg-light">
        <h3>[ CASCADING MENU]</h3>
        <p class="page-title-description fade-in d-none d-md-block">
            THREE-LEVEL SUB-MENU USING DROPDOWN
        </p>

        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div class="social-buttons-aligner slide-up">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>
</div>

<div class="row page-content">
    <div class="col-md-9" [ngSwitch]="viewMode">
        <div class="page-content-container">

            <!-- Switch tabs-->
            <div class="formSwitch">
                <ul class="nav nav-tabs ">
                    <li [class.active]="viewMode == 'defaultTab'">
                        <a (click)="viewMode = 'defaultTab'" class="nav-link active btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="" [icon]="['fas', 'window-restore']"></fa-icon>
                            Menu
                        </a>
                    </li>

                    <li [class.active]="viewMode == 'desciptionTab'">
                        <a (click)="viewMode = 'desciptionTab'" class="nav-link  btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="" [icon]="['fas', 'circle-info']"></fa-icon> How it works</a>
                    </li>

                    <li [class.active]="viewMode == 'dashboardTab'">
                        <a (click)="viewMode = 'dashboardTab'" routerLink="/cpanel"
                            class="nav-link  btn tab-text"><fa-icon class="concept-icon " [icon]="['fas', 'grip']">
                            </fa-icon>
                            Panel</a>
                    </li>
                </ul>
            </div>

            <div *ngSwitchCase="'defaultTab'">
                
                <section class="row dome-form-container">

                    <div class="col-md-6">
                        <div class="sections-headings">
                            Clothing store
                        </div>
                        <!-- Product menu -->
                        <div>
                            <div class="input-group input-group-sm mb-3">
                                <select (change)="GetProductCategoryList($event.target)" class="form-select form-select-sm select-text">
                                    <option value="" hidden disabled selected class=""> --- Gender ---</option>
                                    <option *ngFor="let _genderType of _gender" [value]="_genderType.id">{{ _genderType.name }} </option>
                                </select>
                            </div>
                            <div (change)="GetProductsList($event.target)" class="input-group input-group-sm mb-3">
                                <select class="form-select form-select-sm select-text">
                                    <option value="" hidden disabled selected class=""> --- Product Category ---</option>
                                    <option *ngFor="let _productCategory of _categories" [value]="_productCategory.id">{{ _productCategory.name }} </option>
                                </select>
                            </div>

                            <div (change)="ProductDetails($event.target)" class="input-group input-group-sm mb-3">
                                <select class="form-select form-select-sm select-text">
                                    <option value="" hidden disabled selected class=""> --- Product ---</option>
                                    <option *ngFor="let _product of _products" [value]="_product.id">{{ _product.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                
                    <!-- Product details -->
                    <div class="col-md-6 ">
                        <div class="sections-headings">
                            Item Details
                        </div>

                        <div *ngIf="_productDetails">
                            <div class="product-name">{{_productDetails[0]?.name}}</div>

                            <div class="price-title">
                                <fa-icon class="concept-icon" [icon]="['fas', 'tag']"></fa-icon>
                                Price
                            </div>
                            <div class="price-value">
                                {{_productDetails[0]?.price | currency:'R'}}
                            </div>
                            
                            <div class="product-color">Color</div>
                            <div >{{_productDetails[0]?.color}}</div>
                           
                        </div>

                        <div *ngIf="!_productDetails" class="alert alert-warning alert-sm empty-list-message">
                            <fa-icon class="concept-icon" [icon]="['fas', 'circle-exclamation']"></fa-icon>
                            No selections have been made yet!
                        </div>
                       
                    </div>
                
                </section>
                
            </div>

            <div *ngSwitchCase="'desciptionTab'">
                <div class="card">
                    <strong class="card-header">
                        <fa-icon class="" [icon]="['fas', 'bookmark']"></fa-icon>
                        Description
                    </strong>
                    <div class="card-body">
                        <p class="card-text">This component demonstrates how to implement <b>Cascading drop-downs</b> in angular application to drill-down data to specific level.
                            It's a three-level dependent drop-doown menu that allows the user to make couple of selections before retriieving the intended information.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <strong class="card-header">
                        <fa-icon class="" [icon]="['fas', 'mug-hot']"></fa-icon>
                        The scope of work
                    </strong>
                    <div class="card-body">
                        <ul>
                            <li>Responsive UI/UX Design concept using (HTML5, CSS3, Bootstrap 5, and FontAwesome).</li>
                            <li>Template-driven forms, forms validation, and route guard.</li>
                            <li>Data structures - JSON Data.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>