.page-content {
    margin-top: 15px;
}

.formSwitch {
    padding-bottom: 10px;
}

.content-container {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    padding: 5px;
    padding-top: 10px;
}

.details-container {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sections-headings {
    color: brown;
    font-weight: bold;
    margin-bottom: 5px;
}

.select-text {
    color: grey;
}

.view-details-btn {
    background-color: orangered;
    border: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.view-details-btn:hover {
    background-color: orange;
    border: none;
    color: white;
}

.product-name {
    color: brown;
    font-weight: bold;
}

.price-title, .product-color-title { 
    font-weight: bold;
    font-size: 20px;
}

.price-value, .product-color-value{
    color: red;
    font-size: 16px;
}

