<div @fadeInPageTitle class="">
    <div class="welcome-messsage bg-light">
        <h3>[ PHOTOS GALLERY ]</h3>
        <p class="page-title-description fade-in d-none d-md-block">
            ONLINE PHOTO ALBUMS IN ANGULAR.
        </p>

        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div class="social-buttons-aligner slide-up">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>
</div>


<div class="row page-content">

    <div class="col-md-9">
        
        <div class="page-content-container " >
            <div [ngSwitch]="viewMode">
            <!-- Switch tabs-->
            <div class="formSwitch">
                <ul class="nav nav-tabs ">
                    <li [class.active]="viewMode == 'defaultTab'">
                        <a (click)="viewMode = 'defaultTab'" class="nav-link active btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="" [icon]="['fas', 'image']"></fa-icon>
                            Gallery
                        </a>
                    </li>
                    
                    <li [class.active]="viewMode == 'desciptionTab'">
                        <a (click)="viewMode = 'desciptionTab'" class="nav-link  btn tab-text" data-bs-toggle="tab"><fa-icon class="" [icon]="['fas', 'circle-info']"></fa-icon> info</a>
                    </li>
                    
                    <li [class.active]="viewMode == 'dashboardTab'">
                    
                        <a (click)="viewMode = 'dashboardTab'" routerLink="/dashboard" class="nav-link  btn tab-text"><fa-icon class="concept-icon " [icon]="['fas', 'grip']"> </fa-icon>
                        Panel</a>
                    </li>
                </ul>
            </div>

                <div *ngSwitchCase="'defaultTab'">
                    <app-ngx-lightbox></app-ngx-lightbox>
                </div>

                <div *ngSwitchCase="'desciptionTab'">
                    <section class="about-paragraphs borderd-paragraph">
                        This example covers the basics of template directives and how they can be
                        used.<br />
                    </section>
                    <section class="about-name ">Covered concepts</section>
                    <section class="about-paragraphs">
                        <ul class="skills-list">
                            <li><b>ngIf</b> - eg. Displays the list of items only if the list length is
                                greater than 0 </li>
                            <li><b>ngIf/else</b> - eg. Displays the "No items found" message if list length
                                is equal to</li>
                            <li><b>ngFor</b> Iterates the list of items sotred in array</li>
                            <li><b>ngSwitch</b> - determines which tab (Example or Description) to desplay
                            </li>
                            <li><b>ngClass </b> and <b>ngStyle</b> are covered at a later stage in this
                                portfolio</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>

