<div @fadeInPageTitle class="bg-light">
    <div class="welcome-messsage">
        <h3>[ ONLINE VIDEO CLIPS ]</h3>
        <p class="page-title-description fade-in">
            PLAY VIDEO CLIPS ON THE BROWSER.
        </p>
    </div>

    <div class="social-buttons-aligner ">
        <app-share-this-buttons></app-share-this-buttons>
    </div>

</div>

<div class="row page-content">
    <div class="col-md-9" [ngSwitch]="viewMode">

        <!-- page content -->
        <div class="page-content-container ">

            <!-- Switch tabs-->
            <div class="formSwitch">
                <ul class="nav nav-tabs ">
                    <li [class.active]="viewMode == 'defaultTab'">
                        <a (click)="viewMode = 'defaultTab'" class="nav-link active btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="" [icon]="['fas', 'film']"></fa-icon>
                            Clips
                        </a>
                    </li>

                    <li [class.active]="viewMode == 'desciptionTab'">
                        <a (click)="viewMode = 'desciptionTab'" class="nav-link  btn tab-text"
                            data-bs-toggle="tab"><fa-icon class="" [icon]="['fas', 'bookmark']"></fa-icon> Details</a>
                    </li>

                    <li [class.active]="viewMode == 'dashboardTab'">

                        <a (click)="viewMode = 'dashboardTab'" routerLink="/dashboard"
                            class="nav-link  btn tab-text"><fa-icon class="" [icon]="['fas', 'sliders']"></fa-icon>
                            Menu</a>
                    </li>
                </ul>
            </div>

            <div *ngSwitchCase="'defaultTab'">

                <div class="container ">

                    <div class="row content-container">

                        <div class="col-md-8">

                                <vg-player (onPlayerReady)="videoPlayerInit($event)">
                                <vg-overlay-play></vg-overlay-play>
                                <vg-buffering></vg-buffering>
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>

                                <vg-controls>
                                    <vg-play-pause></vg-play-pause>
                                    <vg-playback-button></vg-playback-button>

                                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                                    <vg-quality-selector></vg-quality-selector>
                                  
                                    <vg-mute></vg-mute>
                                    <vg-volume></vg-volume>
                                    <vg-fullscreen></vg-fullscreen>
                                </vg-controls>

                                <video #media 
                                [vgMedia]="$any(media)" 
                                [src]="currentVideo.src" 
                                id="singleVideo" 
                                muted
                                preload="none" 
                                crossorigin
                                >
                                </video>
                                
                            </vg-player>
                        </div>

                        <div class="col-md-4  player-sections-wrapper">
                            <div class="playlist-heading">
                                PLAYLSIT
                            </div>
                            
                            <div class="list-group">
                                <button type="button"  href="#" class="list-group-item list-group-item-action" 
                                    *ngFor="let vdo of videoItems; let $index = index" 
                                    (click)="startPlaylistVdo(vdo, $index)"
                                    [class.selected]="vdo === currentVideo">

                                    <fa-icon class="clip" [icon]="['fas', 'film']"></fa-icon>
                                    {{ vdo.name }}

                                </button>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'desciptionTab'">
                <section class="about-paragraphs borderd-paragraph">
                    This example covers the basics of template directives and how they can be
                    used.<br />
                </section>
                <section class="about-name ">Covered concepts</section>
                <section class="about-paragraphs">
                    <ul class="skills-list">
                        <li><b>ngIf</b> - eg. Displays the list of items only if the list length is
                            greater than 0 </li>
                        <li><b>ngIf/else</b> - eg. Displays the "No items found" message if list length
                            is equal to</li>
                        <li><b>ngFor</b> Iterates the list of items sotred in array</li>
                        <li><b>ngSwitch</b> - determines which tab (Example or Description) to desplay
                        </li>
                        <li><b>ngClass </b> and <b>ngStyle</b> are covered at a later stage in this
                            portfolio</li>
                    </ul>
                </section>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>
