<div class="row lightbox-container">

    <!-- image gallery section -->
    <!-- <div class="col-md-8"> -->

        <div class="gallery-content">

            <div class="gallery-intro">
                Hi, I'm <b>Yingi</b>, welcome to my photos gallery
            </div>

            <div class="gallery-images-container" *ngFor="let image of albums; let i=index">

                <div class="content-item-wrapper">
                    <img class="img-fluid" [src]="image.thumb" (click)="open(i)" title="View image" />
                    <!-- <button class="view-image-details-btn" (click)="getSelectedImageDetails(i)" title="View image properties">Description</button> -->
                </div>

            </div>

            <div class="bottom-msg">
                I hope you enjoyed!
            </div>
        </div>  

       
    <!-- </div> -->

    <!-- image details section -->
    <!-- <div class="col-md-4">

        <div *ngIf="selectedImageDetails; else noImageSeleted" class="image-details-section">
            <div class="image-item">
                <img class="image-details-img" [src]="selectedImageDetails.src" (click)="open(selectedImageIndex)"  />
            </div>
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action schedule-content">
                    <b>Caption:</b> {{selectedImageDetails.caption}}
                </button>
                <button type="button" class="list-group-item list-group-item-action schedule-content">
                    <b>File name:</b> {{fileName}}
                </button>
                <button type="button" class="list-group-item list-group-item-action schedule-content">
                    <b>File type:</b> {{fileExtension}}
                </button>
            </div>
        </div>

        <ng-template #noImageSeleted >
            <div class="image-details-section">
            <div class="image-item">
                <img class="image-details-default-img" src="assets/gallery/default.png" />
            </div>

            <button type="button" class="list-group-item list-group-item-action schedule-content">
                <fa-icon class="" [icon]="['fas', 'circle-Description']"> </fa-icon>&nbsp;
                Sorry, no image seleted yet.
            </button>

            </div>
        </ng-template>

    </div> -->
</div>

