.lightbox-container {
    margin: 0px;
}
.gallery-content {
    display: block;
    text-align: center;
    border: 1px solid lightgrey;
    padding-bottom: 15px;
    margin: 0px;
}

.gallery-intro {
    padding: 10px;
    border: 1px solid lightgrey;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 7px;
}

.gallery-images-container {
    /* background-image: url('^assets/banners/1.jpg');
    background-color: #cccccc;
    background-repeat: no-repeat; */
    /* object-fit: contain; */
    margin: 5px;
    display: inline-block;
}

.content-item-wrapper {
    width: 130px; 
    border: 10px solid black;
    object-fit: contain;
}

.bottom-msg {
    margin-top: 10px;
}

img {
    border: 10px solid lightgrey;
    cursor: pointer;
    max-width: 100%;
}

.boby {
    overflow: hidden;
}





/* image details window */
.view-image-details-btn {
    border: none;
    padding: 5px;
}

.view-image-details-btn:hover {
    background-color: red;
    color: white;
}

.image-details-section {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 5px;
    padding-top: 0px;
}

.image-item {
    text-align: center;
}

.image-details-default-img {
    height: 160px;
    max-width: 100%;
}

.image-details-img {
    height: 210px;
    max-width: 100%;
}

.list-group {
    text-align: left;
}
