<div class="row lightbox-container">

    <!-- image gallery section -->
    <!-- <div class="col-md-8"> -->

        <div class="gallery-content">

            <div class="gallery-intro">
                Hi, I'm <b>Yingi</b>, welcome to my online photo-album.
            </div>

            <div class="gallery-images-container" *ngFor="let image of albums; let i=index">
                <div class="content-item-wrapper">
                    <img class="img-fluid" [src]="image.thumb" (click)="open(i)" title="Display image" />
                    <!-- <button class="view-image-details-btn" (click)="getSelectedImageDetails(i)" title="View image properties">How it works</button> -->
                </div>
            </div>

            <div class="bottom-msg">
                I hope you enjoyed viewing my photo-album!
            </div>
        </div>  
</div>

