<div @fadeInPageTitle class="">
    <div class="welcome-messsage bg-light">
        <h3>[ REACTIVE FORMS ]</h3>
        <p class="page-title-description fade-in d-none d-md-block">
            UI DESIGN, VALIDATION, AND ROUTE-GUARD.
        </p>

        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div class="social-buttons-aligner slide-up">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>
</div>

<div class="row page-content">
    <div class="col-md-9"  [ngSwitch]="viewMode" >

        <!-- page content -->
        <div class="page-content-container">

            <!-- Switch tabs-->
            <div class="formSwitch">
                <ul class="nav nav-tabs ">
                    <li [class.active]="viewMode == 'defaultTab'">
                        <a (click)="viewMode = 'defaultTab'" class="nav-link active btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="" [icon]="['fas', 'address-card']"></fa-icon>
                            Form
                        </a>
                    </li>
            
                    <li [class.active]="viewMode == 'desciptionTab'">
                        <a (click)="viewMode = 'desciptionTab'" class="nav-link  btn tab-text" data-bs-toggle="tab">
                            <fa-icon class="" [icon]="['fas', 'circle-info']"></fa-icon> Details</a>
                    </li>
                    
                    <li [class.active]="viewMode == 'dashboardTab'">
                    
                        <a (click)="viewMode = 'dashboardTab'" routerLink="/cpanel" class="nav-link  btn tab-text" ><fa-icon class="concept-icon " [icon]="['fas', 'grip']"> </fa-icon>
                        Panel</a>
                    </li>
                </ul>
            </div>
           
            <div *ngSwitchCase="'defaultTab'">
                <!-- first row  - Develper form -->
                <section class="row dome-form-container" *ngIf="toggleFormDisplay == true" >
                    <div class="form-sections-headings">Developer form</div>
                    
                    <!-- Form -->
                    <form [formGroup]="developerForm" (ngSubmit)="Developer()">
                        
                        <section class="row">
                            <div class="col-md-6">                                
                                <div class="form-group">
                                    <!-- #firstName allows angular to bind form-controls change status to ngModel -->
                                    <input type="text" formControlName="firstName" class="form-control form-control-sm"
                                        placeholder="First name">           
            
                                    <!--Multiple Validation Error messages -->
                                    <div *ngIf="firstName?.touched && firstName?.invalid" class="form-validation-message">
                                        <div *ngIf="firstName?.errors?.['empty']">* First name required
                                        </div>
                                        <div *ngIf="firstName?.errors?.['whiteSpace']">* First name
                                            cannot contain whitespace</div>
                                        <div *ngIf="firstName?.errors?.['specialCharacter']">* First
                                            name cannot contain special chatacter(s)</div>
                                        <div *ngIf="firstName?.errors?.['minlength']"> First name should
                                            have a minimum of
                                            {{firstName?.errors?.['minlength'].requiredLength}}
                                            characters </div>
                                    </div>
                                </div>
            
                                <div class="form-group">
                                    <!-- #firstName allows angular to binda the form-control to ngModel -->
                                    <input type="text" formControlName="emailAddress"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control form-control-sm"
                                        placeholder="Email address">
            
                                    <!--Multiple Validation Error messages -->
                                    <div *ngIf="emailAddress?.touched && emailAddress?.invalid" class="form-validation-message">
                                        <div *ngIf="emailAddress?.errors?.['required']">* Email address
                                            required </div>
                                        <!-- <div *ngIf="emailAddress.errors?.['whiteSpace']">* Email address cannot contain whitespace</div> -->
                                        <div *ngIf="emailAddress?.errors?.['minlength']"> * Email should
                                            have a minimum of
                                            {{emailAddress?.errors?.['minlength'].requiredLength}}
                                            characters </div>
                                        <!-- <div *ngIf="firstName.errors?.['maxlength']"> First name should have a minimum of 5 characters </div> -->
                                        <div *ngIf="emailAddress?.errors?.['pattern']"> * Email address
                                            does not match the required data format </div>
                                    </div>
                                </div>
                            </div>
            
            
                            <div class="col-md-6 form-second-column">
                                <!-- nested form object -->
                                <div formGroupName="project">
            
                                    <div class="form-group">
                                        <select class="form-select form-select-sm select-text" formControlName="developerRole"
                                            required>
            
                                            <!--Binding the selected option as an object {"id": 2, "name": "Email"}-->
                                            <option hidden [defaultSelected]=true [value]="defaultRole">{{defaultRole}}</option>
            
                                            <option *ngFor="let roleItem of developerRoles" [ngValue]="roleItem.name" >
                                                {{roleItem.name}}
                                            </option>
                                        </select>
            
                                        <!-- validation error message for dropdown -->
                                        <div *ngIf="developerRole?.touched && developerRole?.invalid"
                                            class="form-validation-message">
                                            <div *ngIf="developerRole?.errors?.['required']">* Please
                                                select developer role</div>
                                        </div>            
                                    </div>

                                    <div class="form-check form-switch teamMember">
                                        <input #isSubscribed formControlName="isSubscribed" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Allocate to project? (No/Yes)</label>
                                    </div>
                                </div>
                       
                                <div class="form-group">
                                    <!-- keeps the button inactive untill when the for is valid -->
                                    <input type="submit" value="{{formSubmitBtnMode == true ? ' Confirm ' : ' Submit '}}"
                                        [disabled]="!developerForm.valid" class="btn btn-danger btn-sm form-btns">
                                    <input type="button" value="Dismiss" (click)="toggleFormDisplay" class="btn btn-success btn-sm ">
                                </div>
                            </div>
            
                        </section>
                    </form>
                </section>

                <!-- second row - list and details view -->
                <section class="row dome-form-container">

                    <!-- Develpers list -->
                    <div class="col-md-6">
                        <!-- developers list section -->
                        <div class="form-sections-headings">Developers list</div>
                        <div *ngIf="developers.length != 0; else noDeveloperFound" class="row list-group dome-list-container">
                            <button *ngFor="let developer of developers;  let i = index" class=" list-group-item">
                            
                                <div (click)="DeveloperDetails(developer)" class="col-md-4 dome-list-cells  developer-name-cell" title="Click for details">
                                    <b> {{i+1 }}. </b>&nbsp;
                                    <fa-icon class="concept-icon" [icon]="['fas', 'user']"></fa-icon> &nbsp;
                                    {{ developer.firstName}}
                                </div>
                            
                                <div (click)="DeveloperDetails(developer)" class="col-md-5 dome-list-cells project-member-cell"
                                    title="Click for details">
                                    <div *ngIf="developer.project.isSubscribed == true">
                                        <fa-icon class="concept-icon" [icon]="['fas', 'hourglass-half']"> </fa-icon> Busy
                                    </div>
                            
                                    <div *ngIf="developer.project.isSubscribed == false">
                                        <fa-icon class="concept-icon" [icon]="['far', 'clock']"> </fa-icon> Idling
                                    </div>
                                  </div>
                            
                                <div class="col-lg-3 dome-list-cells list-btn-container">
                                    <button (click)="populateDeveloperForm(developer)" class="btn-sm list-btn" title="Click to edit">
                                        <fa-icon class="" [icon]="['far', 'pen-to-square']"></fa-icon>
                                    </button>&nbsp;
                                    <button (click)="DeleteSelectedDeveloper(developer)" class="btn-sm list-btn" title="Click to delete">
                                        <fa-icon class="" [icon]="['far', 'trash-can']"></fa-icon>
                                    </button>
                                </div>
                            
                            </button>
                        </div>

                        <ng-template #noDeveloperFound>
                            <div class="alert alert-danger  empty-list-message">
                                <fa-icon class="concept-icon" [icon]="['fas', 'circle-info']"></fa-icon>
                                Sorry, no developer profile found!
                            </div>
                        </ng-template>

                        <!-- display developer form btn -->
                        <section *ngIf="toggleFormDisplay  == true" class="create-button-toggle">
                            <button (click)="toggleFormDisplay"><fa-icon class="" [icon]="['fas', 'user-plus']"></fa-icon> Create </button>
                        </section>
            
                    </div>
            
                    <!-- Developer details -->
                    <div class="col-md-6">
                        
                        <div *ngIf="developers.length !=0" class="form-sections-headings">
                            Developer details
                        </div>

                        <div *ngIf="developers.length !=0">

                        <div *ngIf="isDeveloperDetails == true ; else noDeveloperDetailsFound;" class="developer-details-container">
            
                            <section class="row ">
                                <div class="col-md-3"><b>Name:</b></div>
                                <div class="col-md-9">{{objDeveloperDetails.firstName}}</div>
                            </section>
            
                            <section class="row ">
                                <div class="col-md-3"><b>Email:</b></div>
                                <div class="col-md-9">{{objDeveloperDetails.emailAddress}}</div>
                            </section>
            
                            <section class="row">
                                <div class="col-md-3"><b>Role:</b></div>
                                <div class="col-md-9">{{objDeveloperDetails.project.developerRole}}
                                </div>
                            </section>
            
                            <section class="row ">
                                <div class="col-md-3"><b>Team:</b></div>
                                <div class="col-md-9">{{objDeveloperDetails.project.isSubscribed == true ? 'Allocated to a project': 'No allocated to any project'}}</div>
                            </section>
                        </div>
            
                        <ng-template #noDeveloperDetailsFound>
                            <div class="alert alert-warning alert-sm empty-list-message">
                                <fa-icon class="concept-icon" [icon]="['fas', 'circle-info']"></fa-icon>
                                Please select developer to view details!
                            </div>
                        </ng-template>
            
                    </div>
                </div>
                </section>
            </div>
            
            <div *ngSwitchCase="'desciptionTab'">

                <div class="card">
                    <strong class="card-header">
                        <fa-icon class="" [icon]="['fas', 'circle-question']"></fa-icon>
                        How does it works?
                    </strong>
                    <div class="card-body">
                        <p class="card-text">This component demonstrates how to implement <b>reactive forms</b> in angular.
                            You can manage developers' team by adding new developer, viewing details, updating details, allocating or
                            removing developer from project team,
                            and deleting developer from the list.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <strong class="card-header">
                        <fa-icon class="" [icon]="['fas', 'gears']"></fa-icon>
                        The scope of work
                    </strong>
                    <div class="card-body">                      
                        <ul>
                            <li>Responsive UI Design concept.</li>
                            <li>Reactive forms, forms validation, and route guard.</li>
                            <li>Data structures - Arrays and Objects.</li>  
                            <li>Angular services - Dependency injection.</li>
                        </ul>                        
                    </div>
                </div>

            </div>

            <div *ngSwitchCase="'dashboardTab'">
                <app-dashboard-items></app-dashboard-items>
            </div>
        </div>
    
    </div>

    <!-- Sidebar-->
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>