.company-identity {
        padding: 10px;
        padding-left: 0px;
        text-align: left;
        color: black;       
}

.company-name img {
    height: 60px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.company-name {
    font: 2em sans-serif;
    /* word-spacing: -1px; */
}

.company-name .first-word {
    color: darkslategray;
    /* font-weight: bold; */
}

.company-name .second-word {
    color: red;
    /* font-weight: bold; */
}

.company-name .third-word {
    color: gray;
    font-weight: bold;
}

.moto {
    color: darkgray;
    font: 1.2em sans-serif;
    margin-top: 5px;
}


.company-reg {
    color: black;
    margin-top: 5px;
}

