
    <div class="company-identity">
        <a class="nav-link" routerLink="/">
        <div class="company-name">
            <!-- <img src="../assets/logo/1.png"><br/> -->
          
                <span class="first-word">my </span> 
                <span class="second-word">Recent </span>
                <span class="third-word">Projects </span> 
            
        </div>
        <div class="company-moto">
            <div class="moto">Angular Framework</div>
            <!-- <div class="company-reg"><b> Reg no:</b> 2018/012243/21</div> -->
        </div>
        </a>
    </div>



<!-- <app-ng-bootstrap-carousel></app-ng-bootstrap-carousel> -->